@import "./variables";

:root {
  --black: #{$black};
  --blue: #{$blue};
  --orange: #{$orange};
}

html,
body {
  height: 100%;
  max-width: 100%;
}

body {
  font-kerning: auto;
  font-family: $font-family;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.43;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  color: var(--black);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  min-width: 320px;
}

#root {
  height: 100%;
}
